.container {
    max-width: 900px;
}

.table > thead > tr > th, .table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.form-inline {
    text-align: center;
}

pre {
    white-space: pre-wrap;
}
